@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="container">
        <form action="../Home/FindFlights" method="post">

            <div class="row">

                <div class="col-sm-4 form-group">
                    <select class="form-control" name="Origin">
                        <option disabled selected>Origen</option>
                        <option value="MDE">Medellín</option>
                        <option value="BOG">Bogotá</option>
                        <option value="CTG">Cartagena</option>
                        <option value="PEI">Pereira</option>
                    </select>
                </div>

                <div class="col-sm-4 form-group">
                    <select class="form-control" name="Destination">
                        <option disabled selected>Destino</option>
                        <option value="MDE">Medellín</option>
                        <option value="BOG">Bogotá</option>
                        <option value="CTG">Cartagena</option>
                        <option value="PEI">Pereira</option>
                    </select>
                </div>

                <div class="col-sm-4 form-group">
                    <input class="input-group" type="date" name="FromDate" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                </div>
            </div>

            <div class="row">
                <button class="btn btn-primary" type="submit">
                    Buscar Vuelos
                </button>
            </div>

        </form>
    </div>

    @if (Model != null)
    {
        @using Model
        <div class="container">
            Disponibilidades de Vuelos
            <div>
                <table class="">
                    <thead>
                        <tr>
                            <th scope="col">Origen</th>
                            <th scope="col">Destino</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ResponseFindFlights flight in Model)
                        {
                            <tr>
                                <td>
                                    @flight.DepartureStation
                                </td>
                                <td>
                                    @flight.ArrivalStation
                                </td>
                                <td>
                                    @flight.DepartureDate
                                </td>
                                <td>
                                    <input type="button" value="Continuar" onclick="location.href='@Url.Action("SaveFlight", "Home", flight)'" />
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>
